body {
    background-color: rgb(32, 33, 36);

}
.search {  
    text-align: center;
    margin-top: 300px;  
}
.logo {
    max-height: 100%;
    max-width: 100%;
    width: auto; 
    height: 92px;
    aspect-ratio: auto 272 / 92;
    text-align: center;
    margin-top: 300px;

}
