h1 {
    color:blue;
    text-align: center;
}
div {
    background-color: rosybrown;
    width: 200px;
    height: 200px;
    padding: 50px;
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#foo {
    color:rebeccapurple;
}

.baz {
    color: brown;
}